/*
 * Codice css per l'applicazione
 */

header.page-header {
	margin-top: 0;
}

header.page-header img {
	margin-top: 9px;
	background-color: white;
	border-radius: 5px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

header.page-header nav {
	margin-top: 15px;
}

section.page-body {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.comics-container {
	padding: 5px;
	text-align: center;
	height: 350px;
}

article.comics {
	border: 1px solid #ccc;
}

img.cover {
	max-height: 253px;
}

footer.page-footer,
header.page-header {
	background-color: #3d85b7;
}
